/*menu-all*/
.menu { width: 100%; background-color: #272727; overflow: auto; }

.menu a { float: left; text-align: center; width: 25%; padding: 10px 0px ; transition: all 0.3s ease; color: white;font-size: 50px;
height: 60px; }
.menu a:hover { background-color: #066FB5; }

.active { background-color: #317FB6; }

        /*images*/
        .fav-home{ background: url(https://2.bp.blogspot.com/-m15HPyriXw0/WQzmO0nCXtI/AAAAAAAAAL8/JmTSBSxLlmAEK9BJ3meHEVcWcf9_38PIQCLcB/s1600/home-xxl.png); 
background-repeat: no-repeat; background-size:50px;  position: relative; padding:0px 25px; background-position:0px;}

        .fav-about{ background: url(https://4.bp.blogspot.com/-szzOK4J-oCo/WQzlzpqlzWI/AAAAAAAAALs/vHdruChzRSEChEz1k7SyffcRCUQFKoNZwCLcB/s320/about_icon.png); 
background-repeat: no-repeat; background-size:50px;  position: relative; padding:0px 25px; background-position:0px;}

        .fav-email{ background: url(https://4.bp.blogspot.com/-yCIMcA2Hj8k/WQzlzoXkhLI/AAAAAAAAALw/oh5V9n8gFSAqg5KggVSEqK1T0xcWWZXKgCLcB/s320/mail.png); 
background-repeat: no-repeat; background-size:50px;  position: relative; padding:0px 25px; background-position:0px;}

        .fav-place{ background: url(https://4.bp.blogspot.com/-bKigZk5TA9A/WQzmIZV8L5I/AAAAAAAAAL4/ZhaDwrBUNM8GfyB_1J3nG8M_PWLIdS-PwCLcB/s320/mapa.png); 
background-repeat: no-repeat; background-size:50px; position: relative; padding:0px 25px; background-position:0px; }
